<% if user_signed_in? %>
<h1>Listing Sales</h1>
<%= @sales.tester %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Order date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.email %></td>
      <td><%= sale.order_date %></td>
      <td><%= sale.amount %></td>
      <td><%= link_to 'Show', sale, class: "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_sale_path(sale), class: "btn btn-success" %></td>
      <td><%= link_to 'Destroy', sale, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody> 
</table>

<br>

<% else %>

<p class="alert alert-danger">You must be signed in to view this page</p>

<% end %>