<% if user_signed_in? %>

<div class="col-md-4">
  <h1>Order Count</h1>
  <%#= LC_order_count_emails(@sales.order_count_hash, 3) %>
</div>

<div class="col-md-4">
  <h1>Order Count Hash</h1>
  <%#= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,1, 50)%>
</div>

<div class="col-md-4">
<h1>Days Ago</h1>
  <%#= @days_ago %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Purchases</th>
      <th>181+</th>
      <th>121-180</th>
      <th>91 - 120</th>
      <th>61 - 90</th>
      <th>31 - 60</th>
      <th><= 30</th>
      <th>Total</th>
    </tr>
  </thead>

  <%#= @sales.email_orders %>

  <tbody>

    <tr>
      <td>>=5</td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,181, 999999).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,121, 180).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,91, 120).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,61, 90).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,31, 60).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 5), @days_ago,0, 30).count %></td>
    </tr>
    <tr>
      <td>4</td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,181, 999999).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,121, 180).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,91, 120).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,61, 90).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,31, 60).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 4), @days_ago,0, 30).count %></td>
    </tr>
    <tr>
      <td>3</td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,181, 999999).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,121, 180).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,91, 120).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,61, 90).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,31, 60).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 3), @days_ago,0, 30).count %></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,181, 999999).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,121, 180).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,91, 120).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,61, 90).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,31, 60).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 2), @days_ago,0, 30).count %></td>

    </tr>
    <tr>
      <td>1</td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,181, 999999).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,121, 180).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,91, 120).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,61, 90).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,31, 60).count %></td>
      <td><%= LC_days_ago(LC_order_count_emails(@sales.order_count_hash, 1), @days_ago,0, 30).count %></td>
    </tr>


  </tbody>
</table>


<% else %>
<p class="alert alert-danger">You must be signed in to view this page</p>
<% end %>