<% if user_signed_in? %>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th colspan="6">Days Since Last Purchase</th>
        <th>Totals</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of Purchases</th>
        <th>181+</th>
        <th>121-180</th>
        <th>91 - 120</th>
        <th>61 - 90</th>
        <th>31 - 60</th>
        <th><= 30</th>
        <td></td>
      </tr>
      <tr>
        <th>>=5</th>
        <td class="disengaged_best"><%= @five_purchase_181_day.count %></td>
        <td class="disengaged_best"><%= @five_purchase_121_day.count %></td>
        <td class="disengaged_best"><%= @five_purchase_91_day.count %></td>
        <td class="best"><%= @five_purchase_61_day.count %></td>
        <td class="best"><%= @five_purchase_31_day.count %></td>
        <td class="best"><%= @five_purchase_0_day.count %></td>
        <th><%= [@five_purchase_181_day.count, @five_purchase_121_day.count, @five_purchase_91_day.count, @five_purchase_61_day.count, @five_purchase_31_day.count, @five_purchase_0_day.count].sum %></th>
      </tr>
      <tr>
        <th>4</th>
        <td class="disengaged_best"><%= @four_purchase_181_day.count %></td>
        <td class="disengaged_best"><%= @four_purchase_121_day.count %></td>
        <td class="disengaged_best"><%= @four_purchase_91_day.count %></td>
        <td class="best"><%= @four_purchase_61_day.count %></td>
        <td class="best"><%= @four_purchase_31_day.count %></td>
        <td class="best"><%= @four_purchase_0_day.count %></td>
        <th><%= [@four_purchase_181_day.count, @four_purchase_121_day.count, @four_purchase_91_day.count, @four_purchase_61_day.count, @four_purchase_31_day.count, @four_purchase_0_day.count].sum %></th>
      </tr>
      <tr>
        <th>3</th>
        <td class="disengaged_light"><%= @three_purchase_181_day.count %></td>
        <td class="disengaged_light"><%= @three_purchase_121_day.count %></td>
        <td class="disengaged_light"><%= @three_purchase_91_day.count %></td>
        <td class="new_high_value"><%= @three_purchase_61_day.count %></td>
        <td class="new_high_value"><%= @three_purchase_31_day.count %></td>
        <td class="new_high_value"><%= @three_purchase_0_day.count %></td>
        <th><%= [@three_purchase_181_day.count, @three_purchase_121_day.count, @three_purchase_91_day.count, @three_purchase_61_day.count, @three_purchase_31_day.count, @three_purchase_0_day.count].sum %></th>
      </tr>
      <tr>
        <th>2</th>
        <td class="disengaged_light"><%= @two_purchase_181_day.count %></td>
        <td class="disengaged_light"><%= @two_purchase_121_day.count %></td>
        <td class="disengaged_light"><%= @two_purchase_91_day.count %></td>
        <td class="new_high_value"><%= @two_purchase_61_day.count %></td>
        <td class="new_high_value"><%= @two_purchase_31_day.count %></td>
        <td class="new_high_value"><%= @two_purchase_0_day.count %></td>
        <th><%= [@two_purchase_181_day.count, @two_purchase_121_day.count, @two_purchase_91_day.count, @two_purchase_61_day.count, @two_purchase_31_day.count, @two_purchase_0_day.count].sum %></th>
      </tr>
      <tr>
        <th>1</th>
        <td class="disengaged_light"><%= @one_purchase_181_day.count %></td>
        <td class="disengaged_light"><%= @one_purchase_121_day.count %></td>
        <td class="disengaged_light"><%= @one_purchase_91_day.count %></td>
        <td class="new_high_value"><%= @one_purchase_61_day.count %></td>
        <td class="new_high_value"><%= @one_purchase_31_day.count %></td>
        <td class="new"><%= @one_purchase_0_day.count %></td>
        <th><%= [@one_purchase_181_day.count, @one_purchase_121_day.count, @one_purchase_91_day.count, @one_purchase_61_day.count, @one_purchase_31_day.count, @one_purchase_0_day.count].sum %></th>
      </tr>
      <tr>
        <th>Total</th>
        <th><%= [@five_purchase_181_day.count, @four_purchase_181_day.count, @three_purchase_181_day.count, @two_purchase_181_day.count, @one_purchase_181_day.count].sum %></th>
        <th><%= [@five_purchase_121_day.count, @four_purchase_121_day.count, @three_purchase_121_day.count, @two_purchase_121_day.count, @one_purchase_121_day.count].sum %></th>
        <th><%= [@five_purchase_91_day.count, @four_purchase_91_day.count, @three_purchase_91_day.count, @two_purchase_91_day.count, @one_purchase_91_day.count].sum %></th>
        <th><%= [@five_purchase_61_day.count, @four_purchase_61_day.count, @three_purchase_61_day.count, @two_purchase_61_day.count, @one_purchase_61_day.count].sum %></th>
        <th><%= [@five_purchase_31_day.count, @four_purchase_31_day.count, @three_purchase_31_day.count, @two_purchase_31_day.count, @one_purchase_31_day.count].sum %></th>
        <th><%= [@five_purchase_0_day.count, @four_purchase_0_day.count, @three_purchase_0_day.count, @two_purchase_0_day.count, @one_purchase_0_day.count].sum %></th>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <h3>Best: <%= @best_emails.length%></h3><br>
  <%= @best_emails %>
  <br><br>

  <h3>Disengaged Best: <%= @disengaged_best_emails.length%></h3><br>
  <%= @disengaged_best_emails %>
  <br><br>

  <h3>Disengaged Light: <%= @disengaged_light_emails.length%></h3><br>
  <%= @disengaged_light_emails %>
  <br><br>

  <h3>New with High Potential: <%= @new_high_potential_emails.length%></h3><br>
  <%= @new_high_potential_emails %>
  <br><br>

  <h3>New: <%= @new_emails.length%></h3><br>
  <%= @new_emails %>
  <br><br>

  
</div>

<% else %>
<p class="alert alert-danger">You must be signed in to view this page</p>
<% end %>