<!-- This is in applicatin.html, so remove it? -->
<p id="notice"><%= notice %></p> 


<% if user_signed_in? %>
<h1>Listing Sales</h1>

<h3>
	Max Orders: <%= @most_purchases %> </br>
	Oldest Purchase: <%= @oldest_purchase %> <br>
	Newest Purchase: <%= @newest_purchase %> <br>
	Purchase Spread: <%= @spread %> Days<br>
	Max Spent <%= @max_spent %><br>
</h3>
<div id="scrollme">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Email</th>
				<th>Last Purchase Date</th>
				<th># of Orders</th>
				<th>Order Ttoal</th>
				<th>R</th>
				<th>F</th>
				<th>M</th>
			</tr>
		</thead>
		<tbody>
			<% @sales.consolidated.each do |customer| %>
			<tr>
				<td><%= customer.email %></td>
				<td><%= customer.order_date %></td>
				<td><%= @sales.group(:email).count.values_at(customer.email).first.to_f%></td>
				<td><%= @sales.where(email: customer.email).sum(:amount).round(2) %></td>
				<td><%= score(((customer.order_date - @oldest_purchase).to_f/@spread).round(2)) %></td>
				<td><%= score(@sales.group(:email).count.values_at(customer.email).first.to_f/ @most_purchases) %></td>
				<td><%= score((@sales.where(email: customer.email).sum(:amount)/@max_spent).round(2)) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>



<br>

<h3>Import Sales Data</h3>
<%= form_tag import_sales_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload" %>
<% end %>

<%= link_to 'New Sale', new_sale_path %>
<% else %>

<p class="alert alert-danger">You must be signed in to view this page</p>

<% end %>