<!DOCTYPE html>
<html>
<head>
  <title>Csvuploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to "Home", root_path %>
<%= link_to "Sales", sales_path %>
<%= link_to "Features", nav_features_path %>
<%= link_to "Pricing", nav_pricing_path %>
<%= link_to "Contact", nav_contact_path %>

<%= yield %>

</body>
</html>
