<!DOCTYPE html>
<html>
<head>
	<title>Csvuploader</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Upload", 'sales/upload' %></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Login</a></li>
					<li class="divider"></li>
					<li><%= link_to 'Create a todo', '/sales/rfm_score' %></li>
				</ul>
			</li>
			<li><%= link_to "Features", nav_features_path %></li>
			<li><%= link_to "Pricing", nav_pricing_path %></li>
			<li><%= link_to "Contact", nav_contact_path %></li>
			<li><%= link_to "TestPage", '/sales/rfm_score' %></li>
			<% if user_signed_in? %>
			<li>
				<%= link_to('Edit registration', edit_user_registration_path) %>
			</li>
			<li>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</li>
			<% else %>
			<li>
				<%= link_to('Login', new_user_session_path)  %>
			</li>
			<li>
				<%= link_to('Register', new_user_registration_path)  %>
			</li>
			<% end %>
		</ul>
		
		<% if notice %>
		<p class="alert alert-warning"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
