<!DOCTYPE html>
<html>
<head>
	<title>Csvuploader</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", root_path %></li>
			<li> <a href="/sales/upload"> <i class="fa fa-upload"></i>Upload</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-line-chart" aria-hidden="true"></i>View Data <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/sales"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Raw Data </a></li>
					<li class="divider"></li>
					<li><a href="/sales/rfm_score">RFM Score</a></li>
					<li class="divider"></li>
					<li>
						<a href="/sales/lifecycle_grid/"> <i class="fa fa-table" aria-hidden="true"></i> Lifecycle Grid </a>
					</li>
				</ul>
			</li>
			<li><%= link_to "Features", nav_features_path %></li>
			<li><%= link_to "Pricing", nav_pricing_path %></li>
			<li><%= link_to "Contact", nav_contact_path %></li>
			<% if user_signed_in? %>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> Account<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/users/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
					<li class="divider"></li>
					<li>
					<a href="/users/sign_out/" data-method="delete"> <i class="fa fa-sign-out"></i>Sign Out</a>
					</li>
				</ul>
			</li>
			<% else %>
			<li>
				<%= link_to('Login', new_user_session_path)  %>
			</li>
			<li>
				<%= link_to('Register', new_user_registration_path)  %>
			</li>
			<% end %>
		</ul>
		
		<% if notice %>
		<p class="alert alert-warning"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
